h1 {
    background-color: teal;
    color: white;
    width: 350px;
    height: 100px;
    padding: 20px;
    border:5px solid lightseagreen;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 10px auto 10px auto;
}
#picture {

    
    width: 350px;
    height: 300px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 10px auto 10px auto;
}
.hard {
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    background-color: maroon;
    color: red;
    width: 350px;
    height: 40px;
    padding: 10px;
    border:5px solid red;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 10px auto 10px auto;
}
.okay{
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    text-decoration: underline;
    background-color: yellow;
    color: orange;
    width: 350px;
    height: 40px;
    padding: 10px;
    border:5px solid orange;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 10px auto 10px auto;
}
.ez{
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    background-color: lightgreen;
    color: green;
    width: 350px;
    height: 40px;
    padding: 10px;
    border:5px solid green;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 10px auto 10px auto;
}